body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  color: #333;
  background-color: #f5f5f5;
}

header {
  background-color: #2b2d42;
  color: white;
  text-align: center;
  padding: 20px 10px;
}
